.feature-card{
    height: 180px;
    border-radius: 8px !important;
}

.feature-card:hover{
    color: #fff !important;
    font-weight: bold;
    background-color: #6fa8dc !important;
}


.dashboard-cards-spacing{
    padding: 20px !important;
}

@media only screen and (max-width: 600px) {
    .dashboard-cards-spacing{
        padding: 0px !important;
        margin-top: 20px !important;
    }
}