.login-container{
    background-color: #F7EFE5;
}

.header-login{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
}

.carsome-logo{
    height: 30px;
}

.bg-clr{
    background-color: #F7EFE5 !important;
}

.hero-text{
    margin-top: 30vh;
}


@media only screen and (max-width: 600px) {
    .hero-text{
        margin-top: 0vh;
    }

    .carsome-logo{
        height: 20px;
    }
}