.hero-text{
    margin-top: 30vh;
}

.gicon-img{
    height: 35px;
}

.logo-img{
    width: 500px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .hero-text{
        margin-top: 0vh;
    }

 
}